---
import dayjs from 'dayjs';
const allPosts = await Astro.glob('../pages/posts/*.md');
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
	  <div class="text-center">
	    <h1 class="text-3xl font-bold">Noah Vaillancourt</h1>
		  <p class="font-bold">Frequently tinkering</p>
	  </div>
	  <div class="flex justify-center">
	    {allPosts.map((post) => {
	      if(post.frontmatter.istitle){
	        return <a href={post.url}>
	          <article class="flex-col ml-4 mr-4 bg-red-300 p-2 rounded-lg hover:drop-shadow-md">
	            <p class="text-xl font-bold italic">{post.frontmatter.title}</p>
	            <h2>{dayjs(post.frontmatter.pubDate, 'YYYY-MM-DD').format('MMM D, YYYY')}</h2>
              <p class="line-clamp-6">{post.rawContent()}</p>
	          </article>
	        </a>
	      }
	      return <article class="flex-col ml-4 mr-4 bg-red-300 p-2 rounded-lg">
	        <h2 class="text-xl font-bold italic">{dayjs(post.frontmatter.pubDate, 'YYYY-MM-DD').format('MMM D, YYYY')}</h2>
          <p class="line-clamp-6">{post.rawContent()}</p>
	      </article>
	    })}
	  </div>
	</body>
</html>
